<!DOCTYPE html>
<html>
<head>
	<title>Petluvs</title>
	<!-- <link rel="icon" type="image/png" href="./favicon.ico"> -->
</head>
<body>
<div data-template-type="html" style="height: auto; padding-bottom: 149px;" class="ui-sortable">
    <!--[if !mso]><!-->
    <!--<![endif]-->
    <!-- ====> STARTING <========================= -->
    <!--                   Intro                   -->
    <!-- ========================================= -->
    <table data-bgcolor="intro" data-module="intro" class="full selected-table" bgcolor="#FFFFFF" align="center"
           width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center" bgcolor="#ffffff">
                <table class="inner_tab ui-resizable" width="600" style="max-width: 600px; margin: 0 auto;" border="0"
                       cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td height="30"></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- ======= SECTION : LEFT =======> START -->
                            <table width="150" align="center" class="outer_tab" border="0" cellpadding="0"
                                   cellspacing="0">
                                <!--   Image   -- START -->
                                <tbody>
                                <tr>
                                    <td align="center" style="line-height: 0px;">
                                        <img src="https://www.petluvs.com/wp-content/uploads/2017/07/Petluvs_Logo.png"
                                             width="320; margin:0 auto;"
                                             style="display:block; margin:0 auto; line-height:0px; font-size:0px; border:0px;">
                                    </td>
                                </tr>
                                <!--   Image   --- END --->
                                </tbody>
                            </table>
                            <!-- ======= SECTION : LEFT =======>  END  -->
                        </td>
                    </tr>
                    <tr>
                        <td height="30"></td>
                    </tr>
                    </tbody>

                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- ========================================= -->


    <!-- ========================================= -->
    <table data-bgcolor="wide_image" data-module="wide_image" data-thumb="" class="full" bgcolor="#FFFFFF"
           align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center" bgcolor="#fafafa">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="ui-resizable">
                    <tbody>


                    <tr>
                        <td height="10"></td>
                    </tr>


                    <tr>
                        <td align="center" width="600">
                            <table class="inner_tab" width="100%" border="0" align="center" cellpadding="0"
                                   cellspacing="0">
                                <!--   Image   -- START -->
                                <tbody>
                                <tr>
                                    <td align="center" style="line-height: 0px;">
                                        <img src="https://www.petluvs.com//wp-content/uploads/2016/11/pets_big.png"
                                             alt="Wide Image" width="100%" height="auto"
                                             style="display:block; line-height:0px; font-size:0px; border:0px;">
                                    </td>
                                </tr>
                                <!--   Image   --- END --->
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <!--   Title   -- START -->

                                <!--   Title   --- END --->
                                <tr>
                                    <td height="5"></td>
                                </tr>
                                <!--   Title   -- START -->
                                <!-- <tr>
                                    <td data-color="10_Title-3" data-size="10_Title-3" data-min="12" data-max="27"
                                        dir="ltr"
                                        style="font-family: 'Quicksand', Arial, sans-serif; font-size: 20px; font-weight: 500; color: #808080; letter-spacing: 0.5px; line-height: 25px;">
                                        Welcome To Petluvs
                                    </td>
                                </tr> -->
                                <!--   Title   --- END --->
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <!--   Content   -- START -->
                                <tr>
                                    <td data-color="10_Description-1" data-size="10_Description-1" data-min="7"
                                        data-max="22" dir="ltr"
                                        style="font-family: 'open sans', Arial, sans-serif; font-size: 15px; color: #888888; letter-spacing: .5px; line-height: 23px;">
                                        <h2><%= message %></h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30"></td>
                                </tr>
                                <!--   Button   -- START -->
                                <!-- <tr>
                                    <td align="center">
                                        <table border="0" align="center" cellpadding="0" cellspacing="0"
                                               class="textbutton">
                                            <tbody>
                                            <tr>
                                                <td data-border-top-color="11_Button-1"
                                                    data-border-right-color="11_Button-1"
                                                    data-border-bottom-color="11_Button-1"
                                                    data-border-left-color="11_Button-1" data-size="11_Button-1"
                                                    data-min="7" data-max="22" class="ava_button_link" bgcolor="#259eda"
                                                    height="46"
                                                    align="center"
                                                    style="font-family: 'Quicksand', Arial, sans-serif; font-size: 15px; font-weight: 600; color: #FFFFFF; letter-spacing: 1px; border: 0px solid #ffffff; padding-left: 25px; padding-right: 25px; border-radius: 0px;">
                                                    <a href="{{confirmationLink}}" style="color:#fff; text-decoration: none;">Confirm My Email</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr> -->
                                <!--   Button   --- END --->
                                <!--   Content   --- END --->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="50"></td>
                    </tr>
                    </tbody>
                    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                </table>
            </td>
        </tr>
        </tbody>
    </table>


    <!-- ========================================= -->
    <table data-bgcolor="footer" data-module="footer" data-thumb="" class="full" bgcolor="#FFFFFF" align="center"
           width="600" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center" bgcolor="#363839">
                <table class="inner_tab ui-resizable" width="600" style="max-width: 600px;" border="0" cellpadding="0"
                       cellspacing="0">
                    <tbody>

                    <tr>
                        <td align="center">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="50"></td>
                    </tr>
                    <tr>
                        <td align="center" style="border-top: 1.5px solid #404040; border-bottom: 1.5px solid #404040;">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                <!--   Title   -- START -->
                                <tr>
                                    <td data-color="20_Title-1" data-size="20_Title-1" data-min="8" data-max="23"
                                        align="center"
                                        style="font-family: 'quicksand', Arial, sans-serif; font-size: 16px; font-weight: 500; color: #bababa; letter-spacing: 0.8px; line-height: 25px;">


                                        13151 Emily Rd #201, Dallas, TX 75240

                                    </td>
                                </tr>
                                <!--   Title   --- END --->
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- ======= SECTION : LEFT =======> START -->
                            <table width="430" align="center" class="outer_tab" border="0" cellpadding="0"
                                   cellspacing="0">
                                <!--   Content   -- START -->
                                <tbody>
                                <tr>
                                    <td data-color="20_Description-1" data-size="20_Description-1" data-min="8"
                                        data-max="23" dir="ltr"
                                        style="font-family: 'quicksand', Arial, sans-serif; text-align: center; font-size: 16px; font-weight: 500; color: #bababa; letter-spacing: 1px; line-height: 23px;">
                                        Phone number: 214-624-4288
                                    </td>
                                </tr>
                                <!--   Content   --- END --->
                                </tbody>
                            </table>
                            <!-- ======= SECTION : LEFT =======>  END  -->
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td>
                            <![endif]-->
                            <table width="18" border="0" align="left" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td>
                            <![endif]-->
                            <!-- ======= SECTION : RIGHT =======> START -->
                            <table width="150" align="center" class="outer_tab" border="0" cellpadding="0"
                                   cellspacing="0">
                                <!--   Content   -- START -->
                                <tbody>
                                <!-- <tr>
                                    <td data-color="20_Description-2" data-size="20_Description-2" data-min="8"
                                        data-max="23" dir="rtl"
                                        style="font-family: 'quicksand', Arial, sans-serif; text-align: center; font-size: 16px; font-weight: 500; color: #FF6F91; letter-spacing: 1px; line-height: 23px; cursor: pointer;">
                                        UNSUBSCRIBE
                                    </td>
                                </tr> -->
                                <!--   Content   --- END --->
                                </tbody>
                            </table>
                            <!-- ======= SECTION : RIGHT =======>  END  -->
                        </td>
                    </tr>
                    <tr>
                        <td height="60"></td>
                    </tr>
                    </tbody>
                    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- ========================================= -->
    <table data-bgcolor="footer" data-module="footer" data-thumb="" class="full" bgcolor="#FFFFFF" align="center"
           width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>

        <tr>
            <td align="center" valign="bottom"
                style="color:#777777; line-height:18px; font-size:13px; padding-top:20px;">
                The content of this email is confidential and intended for the recipient specified<br> in message only.
                It is strictly forbidden to share any part of this message with any third party, without a written
                consent of the sender. If you received this message by mistake,<br> please reply to this message and
                follow with its deletion, so that we can ensure such a mistake does not occur in the future.<br>
                Please do not print this email unless it is necessary. Every unprinted email helps the environment.


            </td>
        </tr>
        </tbody>
    </table>

    <!-- ===========================> ENDING <==== -->
</div>
</body>
</html>
